section{
    article{
        p{
            background-color:wheat;
            i{
                text-decoration: underline;
            }
            img{
                margin: 0 auto;
                width:100%;
                max-width:800px;
            }
        }
    }
}